<div class="pl-4 bg-[#F8FAFD]">
  <label class="py-4 border bg-white px-6 rounded-2xl border-b-2 flex flex-row max-w-28">
    <input type="file" class="hidden" (change)="onFileSelected($event)" />
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="1.5"
      stroke="currentColor"
      class="size-6 mr-2"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M12 4.5v15m7.5-7.5h-15"
      />
    </svg>
    New
</label>

  <div *ngIf="fileDetails" class="mt-4 p-4 border border-gray-300 rounded">
    <h4 class="font-bold">File Details:</h4>
    <p><strong>Name:</strong> {{ fileDetails.name }}</p>
    <p><strong>Type:</strong> {{ fileDetails.type }}</p>
    <p><strong>Size:</strong> {{ fileDetails.size }} bytes</p>
  </div>

  <ul class="mt-5">
    <li
      *ngFor="let item of sidebar; let i = index"
      [ngClass]="{
        'bg-[#C2E7FF] text-black': selectedItem === i,
        'hover:bg-gray-200': selectedItem !== i,
        'rounded-3xl': true,
        'mb-4': (i + 1) % 3 === 0
      }"
      (click)="selectItem(i)"
      class="cursor-pointer"
    >
      <button class="py-1 font-normal px-5">
        {{ item.name }}
      </button>
    </li>
  </ul>
</div>
